* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 100ms ease;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/*Navbar*/

.logo {
  height: 24px;
  padding-left: 120px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.938rem;
  background: #092d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}
.navbar {
  padding-right: 120px;
}
.navbar a {
  margin-left: 45px;
  color: #ffffff;
  text-decoration: none;
  font-family: poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.navbar a:hover {
  color: #53a4ec;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  transition: 200ms;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #ffffff;
  display: none;
}
/*Responsivness*/
@media (max-width: 792px) {
  .logo {
    padding-left: 5%;
    text-decoration: none;
  }
  .icons {
    display: inline-flex;
  }
  #check:checked ~ .icons #menuIcon {
    display: none;
  }

  .icons #closeIcon {
    display: none;
  }

  #check:checked ~ .icons #closeIcon {
    display: block;
  }

  .navbar {
    padding-right: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #092d4d;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
    transition: 200ms ease;
  }

  .navbar a {
    margin-left: 0;
    display: block;
    text-align: center;
    margin: 1.5rem 0;
    transition: none;
  }
  .navbar a:hover {
    transition: none;
  }
}

/* Footer*/

footer {
  background-color: #092d4d;
  color: #ffffff;
  position: sticky;
  top: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-txt {
  line-height: normal;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
}

/*Home Page hero*/
.home-hero-section {
  color: #ffffff;
  background-color: #092d4d;
  height: fit-content;
}
.home-hero-elements {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}
.home-hero-elements img {
  width: 584px;
  padding-top: 64px;
  user-select: none;
  cursor: pointer;
}

.home-hero-text {
  width: 584px;
}
.home-hero-text h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.68px;

  padding-top: 130px;
}
.home-hero-text p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-top: 52px;
}
@media (max-width: 1070px) {
  .home-hero-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 792px) {
  .home-hero-elements {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 660px) {
  .home-hero-text {
    width: 500px;
  }
  .home-hero-elements img {
    width: 284px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  .home-hero-text {
    width: 400px;
  }
  .home-hero-elements img {
    width: 184px;
  }
}
@media (max-width: 440px) {
  .home-hero-text {
    width: 200px;
  }
  .home-hero-elements img {
    width: 184px;
  }
}
@media (max-width: 300px) {
  .home-hero-text h1 {
    font-size: 1.4rem;
  }
  .home-hero-text {
    width: 100px;
  }
  .home-hero-elements img {
    width: 100px;
  }
}
/*Home Recent Section*/
.home-recent-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-recent-section h2 {
  color: #092d4d;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 60px;
}
.home-recent-section h2 span {
  color: #267800;
}

.home-recent-article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #092d4d;
  width: 300px;
  margin: 20px;
  border-radius: 15px;
}

.home-recent-article-card img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.home-recent-article-card h3 {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffffff;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
}
.home-recent-article-date-p {
  margin-top: 20px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 20px;
  color: #ffffff;

  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}
.recent-article-btn {
  cursor: pointer;
  border-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #106ab9;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-article-btn:hover {
  background-color: #0088ff;
  transition: 300ms ease;
}

.home-recent-article-card a {
  user-select: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  width: 100%;
  margin: 0;
}
.view-all-btn {
  text-underline-offset: 5px;
  text-align: center;
  color: #092d4d;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: none;
  margin-bottom: 120px;
}
.view-all-btn:hover {
  text-underline-offset: 5px;
  text-align: center;
  color: #0088ff;
  font-size: 1.3rem;
  font-weight: 600;
}

/*carousel*/
.home-recent-container {
  display: flex;
  justify-content: flex-start;
  width: 1050px;
  overflow-x: scroll;
  transition: 300ms ease;
}
.home-recent-content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  flex: none;
  transition: 300ms ease;
}
.home-recent-container::-webkit-scrollbar {
  display: none;
}

.home-recent-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
.back-btn,
.forward-btn {
  height: 90px;
  margin: 5px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 1251px) {
  /*carousel*/
  .home-recent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1050px;
    overflow-x: none;
  }
  .back-btn,
  .forward-btn {
    display: none;
    transition: 300ms ease;
  }
}
@media (max-width: 1071px) {
  /*carousel*/
  .home-recent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .home-recent-content {
    width: 100%;
    display: grid;
    grid-template-columns: none;
    padding: 0;
    flex: none;
  }
  .home-recent-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 351px) {
  .home-recent-article-card {
    width: 150px;
    margin: 5px;
  }
  .home-recent-article-card img {
    width: 150px;
    height: 150px;
  }
}

/*About Us Hero*/
.about-hero {
  background-color: #092d4d;
  color: #ffffff;
  width: 100%;
  height: fit-content;
}
.about-hero h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2.4px;

  padding-top: 130px;
  margin-left: 120px;
}

.about-hero h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 10px;

  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 120px;
}
.about-hero h2 span {
  color: #53a4ec;
}

/*Our Story Section*/
.our-story-content {
  margin: 120px;
}
.our-story-content p {
  color: #007f00;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 16px;
}
.our-story-content h3 {
  color: #092d4d;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 32px;
}
.our-story-content img {
  width: 500px;
  float: right;
  border-radius: 5px;
  margin: 5px;
}

.about-our-story-txt p {
  color: #092d4d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}

/*Our Writers Section*/
.about-our-writers-section {
  width: 100%;
  background-color: #f6f6f6;
  height: 100%;
}
.our-writers-content {
  margin: 120px;
  margin-bottom: 0;
}

.our-writers-content p {
  color: rgb(150, 143, 0);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;

  padding-top: 16px;
  padding-bottom: 16px;
}
.our-writers-content h3 {
  color: #092d4d;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
