* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 100ms ease;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/*Navbar*/

.logo {
  height: 24px;
  padding-left: 120px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.938rem;
  background: #092d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}
.navbar {
  padding-right: 120px;
}
.navbar a {
  margin-left: 45px;
  color: #ffffff;
  text-decoration: none;
  font-family: poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.navbar a:hover {
  color: #53a4ec;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  transition: 200ms;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #ffffff;
  display: none;
}
/*Responsivness*/
@media (max-width: 792px) {
  .logo {
    padding-left: 5%;
    text-decoration: none;
  }
  .icons {
    display: inline-flex;
  }
  #check:checked ~ .icons #menuIcon {
    display: none;
  }

  .icons #closeIcon {
    display: none;
  }

  #check:checked ~ .icons #closeIcon {
    display: block;
  }

  .navbar {
    padding-right: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #092d4d;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
    transition: 200ms ease;
  }

  .navbar a {
    margin-left: 0;
    display: block;
    text-align: center;
    margin: 1.5rem 0;
    transition: none;
  }
  .navbar a:hover {
    transition: none;
  }
}

/* Footer*/

footer {
  background-color: #092d4d;
  color: #ffffff;
  position: sticky;
  top: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-txt {
  line-height: normal;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
}

/*Home Page hero*/
.home-hero-section {
  color: #ffffff;
  background-color: #092d4d;
  height: fit-content;
}
.home-hero-elements {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}
.home-hero-elements img {
  width: 584px;
  padding-top: 64px;
  user-select: none;
  cursor: pointer;
}

.home-hero-text {
  width: 584px;
}
.home-hero-text h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.68px;

  padding-top: 130px;
}
.home-hero-text p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-top: 52px;
}

/*Home Recent Section*/
.home-recent-section {
  margin: 120px;
}
.home-recent-section h2 {
  color: #092d4d;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.home-recent-section h2 span {
  color: #36aa00;
}

.home-recent-article-card {
  background-color: #092d4d;
  width: 350px;
  height: fit-content;
}

.home-recent-article-card img {
  width: 350px;
}

.home-recent-article-card h3 {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffffff;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
}
.home-recent-article-date-p {
  margin-top: 20px;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffffff;

  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.home-recent-article-txt-p {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffffff;

  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 81.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
